.cart-container{

display:flex;

justify-content:space-between;

padding:50px 8%;

gap:40px;

align-items:flex-start;

flex-wrap:wrap;

}

.cart-items{

flex:2;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#2563eb;

color:white;

padding:15px;

}

td{

padding:18px;

text-align:center;

border-bottom:1px solid #ddd;

}

td img{

width:70px;

border-radius:8px;

}

.cart-summary{

width:350px;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.cart-summary h2{

margin-bottom:25px;

}

.summary-row{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:18px;

}

.total{

font-size:22px;

font-weight:700;

color:#2563eb;

}

.cart-summary button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

background:#2563eb;

color:white;

font-size:17px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.cart-summary button:hover{

background:#1d4ed8;

}

.continue{

background:#16a34a !important;

}

.continue:hover{

background:#15803d !important;

}

.qty-btn{

padding:5px 12px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

margin:0 5px;

}

.remove-btn{

background:red;

color:white;

border:none;

padding:8px 12px;

cursor:pointer;

border-radius:5px;

}
